@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto:wght@100&display=swap');


:root{
   --background:#F0F5F9;
   --color1:#C9D6DF;
   --color2:#52616B;
   --color3:#1E2022;
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
@media (max-width: 1080px){
   html{
     font-size: 93,75%;
   }
 }
 
@media (max-width: 720px){
   html{
     font-size: 87,5%;
   }
 }
 
 body, input, textarea{
   font-family: 'Noto Sans JP', sans-serif;
   color: var(--color3);
   background-color: var(--background);
   overflow-y: hidden;
 }

 button{
   cursor: pointer;
 }

h1, h2, h3{
   font-family: 'Roboto', sans-serif;
}


h2{
   font-size: 1em;
}

h3{
   font-size:0.85em;
}

h4{
   font-family: 'Noto Sans JP', sans-serif;
}


::-webkit-scrollbar {
   display: none;
}