@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto:wght@100&display=swap');


:root{
   --background:#F9F7F7;
   --sidebar:#112D4E;
   --tags:#DBE2EF;
   --tagsHover:#DBE2EF;
   --black:#1E2022;
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
@media (max-width: 1080px){
   html{
     font-size: 93,75%;
   }
 }
 
@media (max-width: 720px){
   html{
     font-size: 87,5%;
   }
 }
 
 body, input{
   font-family: 'Noto Sans JP', sans-serif;
   color: var(--tags);
   background-color: var(--background);
 }

 button{
   cursor: pointer;
 }

h1{
   font-family: 'Roboto', sans-serif;
}

h2, h3{
   font-family: 'Roboto', sans-serif;
   color: var(--tags);
}


h2{
   font-size: 1em;
}

h3{
   font-size:0.85em;
}

h4, p{
   font-family: 'Noto Sans JP', sans-serif;
   color: var(--black);
}


::-webkit-scrollbar {
   display: none;
}