@media (min-width:1024px){
   .image{
      margin-left: 200px;
      height:100vh;
      position: relative;

   }
   .coverArt{
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
   }
   
}

@media (max-width:1024px){
   .container{
      height: 100vh;
      overflow-x: hidden;
   }
      
   .image{
      margin-top: -32px;
      display: flex;
      justify-content: center;
      height: 100%;
   }

}