@media (min-width:1024px){
   .main{
      margin-left: 200px;
   }
}

@media(max-width:1024px){
   .main{
      margin-top: -31px;
      margin-left: 0px;
   }
}

.about{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.about h1{
   margin-top: 20px;
}

.about span{
   width: 200px;
   border-bottom: 1px solid;
   margin: 10px 0 20px 0;
}

.paragraph{
   margin: 0 80px;
   width: 800px;
}

.portrait{
   margin: 40px;
   width: 800px;
   display: flex;
   justify-content: center;
}

.portrait img{
   max-height: 100%;
   max-width: 100%;
}

/* masonry package */

.my-masonry-grid {
   display: -webkit-box; 
   display: -ms-flexbox; 
   display: flex;
   margin-left: -10px; 
   width: auto;
 }
 .my-masonry-grid_column {
   padding-left: 10px;
   background-clip: padding-box;
 }
 
 .my-masonry-grid_column > img { /* change div to reference your elements you put in <Masonry> */
   background: grey;
   margin-bottom: 10px;
   max-width: 100%;
 }

 @media (max-width: 800px) {
   .my-masonry-grid {
     margin-left: -15px; /* gutter size offset */
   }
   .my-masonry-grid_column {
     padding-left: 15px; /* gutter size offset */
   }
   .my-masonry-grid_column > div {
     margin-bottom: 15px; /* space between items */
   }
 }